/* TODO Add site wide styles */
* {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.page-wrapper-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: inherit;
  /* background-color: red; */
  min-width: 100%;
  /* align-items: center; */
}

textarea {
  resize: none;
}
