/* TODO Add site wide styles */
/* * {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
} */

* {
  font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times,
    serif;
  font-size: 14px;
  /* background-color: rgb(243, 242, 239); */
}

.page-wrapper-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: inherit;
  /* background-color: red; */
  min-width: 100%;
  /* align-items: center; */
}

textarea {
  resize: none;
}
